html {
  color: blue;
  text-align: left, right, center;
  font-syle: Name_der_Schriftart
  font-syze: ;
  background-color: pink;
  background-image: Name_der_Datei;
}

#h1_rot {
  color: red;
}